<div class="container-fluid">
  <div class="header">
      <div class="row">
          <a [routerLink]="['/first']">
              <img src="assets/images/logo.png" width="70" height="75">
              <h2>CODER</h2>
          </a>
          <div class="action">
              <a [routerLink]="['/login']" id="login-button" class="btn btn-outline-primary" *ngIf="session==null">Login</a>&nbsp;&nbsp;&nbsp;
              <a [routerLink]="['/register']" id="login-button" class="btn btn-outline-primary" *ngIf="session==null">Register</a>
              <a class="btn btn-outline-primary" (click)="userLogout()" *ngIf="session!=null">Logout</a>&nbsp;&nbsp;
              <a class="message" *ngIf="session!=null">Welcome, {{session}}</a>
          </div>
      </div>
  </div>
  <div>
      <router-outlet></router-outlet>
  </div>
</div>